
<h1>Contacts List</h1>

<!-- Formulario reactivo para editar contacto -->
<div *ngIf="editingContact; else showContacts">
    <main class="main-login">
        <section class="form-container">
    
          <div class="container-signup">
            <h2>Edit Contact</h2>
            <form [formGroup]="editContactForm" (ngSubmit)="saveEditContact()">
      
              <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" placeholder="Type the contact name" formControlName="name" />
                <div class="text-danger" *ngIf="hasErrors('name', 'required')">El nombre es requerido</div>
              </div>
      
              <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" placeholder="Ingrese su correo electrónico"
                  [ngClass]="{'is-invalid': hasErrors('email', 'required') || hasErrors('email', 'email')}"
                  class="form-control" formControlName="email" />
                <div class="text-danger" *ngIf="hasErrors('email', 'email')">Email invalid format </div>
                <div class="text-danger" *ngIf="hasErrors('email', 'required')">Email is required</div>
              </div>
    
               <label for="phone">Phone:</label>
               <input type="number" id="phone" placeholder="Type a phone number" formControlName="phone" />
               <div class="text-danger" *ngIf="hasErrors('phone', 'required')">Phone is required</div>
    
              <div class="form-group">
                <label for="address">Adress:</label>
                <input type="text" id="address" placeholder="Type the address" formControlName="address" />
              </div>
    
              <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" id="description" placeholder="Type a contact description" formControlName="description" />
              </div>
    
               <div class="container-buttons-edit-contact">
                <button type="submit" [disabled]="editContactForm.invalid">Edit</button>
                <button type="submit" (click)="cancelEdit()">Cancel</button>
               </div>
            </form>
    
          </div>
        </section>
      </main>
</div>

<ng-template #showContacts>
    <div *ngIf="contacts.length === 0">You don't have any contacts, start creating one.</div>
    <ul *ngIf="contacts.length > 0">
        <li *ngFor="let contact of contacts">
            <div class="card-container">
                <div class="card">
                    <div class="card-header">
                        <img src="https://via.placeholder.com/150" alt="User Image" class="card-img">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{ contact.name }}</h3>
                        <p class="card-info">Email: {{ contact.email }}</p>
                        <p class="card-info">Phone: {{ contact.phone }}</p>
                        <p class="card-info">Address: {{ contact.address }}</p>
                        <p class="card-info">Description: {{ contact.description }}</p>
                        <div class="card-buttons">
                            <button class="btn edit-btn" (click)="editContact(contact)">Edit</button>
                            <button class="btn delete-btn"
                                (click)="contact.id ? deleteContact(contact.id) : null">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <button type="submit" (click)="showAddContactForm()"><i class="bi bi-person-fill-add"></i></button>
</ng-template>

<main class="main-login" *ngIf="showAddContactFormFlag">
    <section class="form-container">

      <div class="container-signup">
        <h2>Create Contact</h2>
        <form [formGroup]="newContactForm" (ngSubmit)="addContact()">
  
          <!-- Campo de nombre -->
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" placeholder="Type the contact name" formControlName="name" />
            <!--Validaciones del nombre -->
            <div class="text-danger" *ngIf="hasErrors('name', 'required')">El nombre es requerido</div>
          </div>
  
          <!-- Campo de Email -->
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" placeholder="Ingrese su correo electrónico"
              [ngClass]="{'is-invalid': hasErrors('email', 'required') || hasErrors('email', 'email')}"
              class="form-control" formControlName="email" />
            <!--Validaciones del Email-->
            <div class="text-danger" *ngIf="hasErrors('email', 'email')">Email invalid format </div>
            <div class="text-danger" *ngIf="hasErrors('email', 'required')">Email is required</div>
          </div>

          <!-- Campo del telefono -->
           <label for="phone">Phone:</label>
           <input type="number" id="phone" placeholder="Type a phone number" formControlName="phone" />
           <!-- Validacion del telefono -->
           <div class="text-danger" *ngIf="hasErrors('phone', 'required')">Phone is required</div>

           <!-- Campo de direccion -->
          <div class="form-group">
            <label for="address">Adress:</label>
            <input type="text" id="address" placeholder="Type the address" formControlName="address" />
          </div>

          <!-- Campo de descripcion -->
          <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" id="description" placeholder="Type a contact description" formControlName="description" />
          </div>

          <!-- Boton de crear contacto -->
          <button type="submit" [disabled]="newContactForm.invalid">Create</button>
          <button type="button" (click)="hideAddContactForm()">Cancel</button>
        </form>

      </div>
    </section>
  </main>

